.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.badge {
  color: var(--teal);
  font-weight: bold;
  padding: 0.5em 1em;
  border-right: 1px solid var(--teal);
}

.flex-fluid {
  flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
  overflow-y: auto;  /* adds scroll to this container */
}