.product-cart {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

.shopping-cart-modal {
  .products {
    list-style: none;
    padding: 0;

    .product {
      margin-bottom: 1em;
      border-bottom: 1px solid var(--grey);

      .product-view {
        > * {
          margin: 0;
          padding: 0.5em 1em;
        }

        h3 {
          border-bottom: var(--primary);
          color: var(--primary);
        }
      }
    }
  }

}