/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

:root {
  --dark: #222831;
  --dark-light: #393E46;
  --primary: #F1969B;
  --grey: #EEEEEE;
  --white: #FFFFFF;
  --black: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;  /* enables flex content for its children */
  background-color: var(--grey);
}

div#root {
  height: inherit;
  width: inherit;
}
